In [1]:
import pandas as pd

In [3]:
a = pd.DataFrame([['A', 1], ['B', 2]])

In [6]:
a.shape

(2, 2)

In [7]:
a

   0  1
0  A  1
1  B  2

In [14]:
a = pd.DataFrame([['January', 1], ['February', 2]], columns=['Month', 'Month number'])

In [15]:
a

      Month  Month number
0   January             1
1  February             2

In [12]:
a['Month']

0     January
1    February
Name: Month, dtype: object

In [18]:
a['Month number'].median()

1.5

In [21]:
a['Month number'].mean()

1.5

In [26]:
a.iloc[1]

Month           February
Month number           2
Name: 1, dtype: object

In [28]:
a.index

RangeIndex(start=0, stop=2, step=1)

In [31]:
a.iloc[0]

Month           January
Month number          1
Name: 0, dtype: object

In [33]:
a.loc

In [36]:
a.iloc

In [40]:
a

      Month  Month number
0   January             1
1  February             2

In [42]:
pd.Index([1,2])

Int64Index([1, 2], dtype='int64')

In [45]:
a.set_index(pd.Index([100,200]))

        Month  Month number
100   January             1
200  February             2

In [49]:
a = a.set_index('Month')

In [51]:
a

          Month number
Month
January              1
February             2

In [54]:
del a['Month number']

KeyError: 'Month number'

In [55]:
a

Empty DataFrame
Columns: []
Index: [January, February]