In [3]:
import pydataset
import pandas as pd

In [5]:
titanic = pydataset.data('titanic')

In [6]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [7]:
titanic['class'].describe

<bound method NDFrame.describe of 1       1st class
2       1st class
3       1st class
4       1st class
5       1st class
          ...
1312    3rd class
1313    3rd class
1314    3rd class
1315    3rd class
1316    3rd class
Name: class, Length: 1316, dtype: object>

In [10]:
titanic['class'].nbytes

10528

In [12]:
%%time
titanic['class'] == '3rd class'

CPU times: user 758 µs, sys: 186 µs, total: 944 µs
Wall time: 958 µs

1       False
2       False
3       False
4       False
5       False
        ...
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool

In [15]:
titanic['class'] = titanic['class'].astype('category')

In [17]:
%%time
titanic['class'] == '3rd class'

CPU times: user 586 µs, sys: 110 µs, total: 696 µs
Wall time: 644 µs

1       False
2       False
3       False
4       False
5       False
        ...
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool