In [1]:
import pandas as pd

In [2]:
copacabana = pd.read_csv('copacabana.csv', delimiter=';')

In [3]:
copacabana

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.0,0.01,1144,311,146,969501,1028834,999168,1750,509,37.00,1,95,4379,685365.0700,7457802.680
1,0,2.0,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.00,1,71,6479,685941.5500,7459001.320
2,0,2.0,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.00,1,58,12414,685627.3900,7459080.520
3,0,2.0,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.00,1,88,11250,685438.2001,7458268.280
4,0,2.0,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.00,1,68,13382,685764.3840,7458954.513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670,1,2.0,2.00,2866,562,416,1915512,2101848,2008680,2450,360,2.00,1,114,4210,686269.4600,7459312.080
1671,1,2.0,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,4232,685346.9700,7459162.110
1672,1,2.0,2.00,2488,1030,106,1395924,1396219,1396072,1550,509,0.01,1,95,6316,685346.9700,7459162.110
1673,1,2.0,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,113,6785,685346.9700,7459162.110
1674,1,2.0,2.00,2488,1030,106,1395924,1396219,1396072,1550,445,0.01,1,101,6771,685346.9700,7459162.110

In [6]:
populacao_pe = pd.read_excel('total_populacao_pernambuco.xls')

In [8]:
populacao_pe

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0
...,...,...,...,...,...,...,...,...
182,2616308,Vicência,28820.0,15194.0,15537.0,13805.0,16926.0,30731.0
183,2616407,Vitória de Santo Antão,117609.0,62685.0,67855.0,113481.0,17059.0,130540.0
184,2616506,Xexéu,13597.0,6996.0,7096.0,9165.0,4927.0,14092.0
185,Total,Pernambuco,7918344.0,4229897.0,4566135.0,7049868.0,1746164.0,8796032.0
186,"Fonte: IBGE, Resultados do Censo 2010.",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
populacao_pe.head(20)

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0
5,2600500,Águas Belas,36641.0,19545.0,20462.0,24300.0,15707.0,40007.0
6,2600609,Alagoinha,12535.0,6906.0,6855.0,7770.0,5991.0,13761.0
7,2600708,Aliança,37189.0,18579.0,18835.0,20249.0,17165.0,37414.0
8,2600807,Altinho,22131.0,11114.0,11249.0,12781.0,9582.0,22363.0
9,2600906,Amaraji,21309.0,10982.0,10943.0,16033.0,5892.0,21925.0
10,2601003,Angelim,9082.0,5019.0,5185.0,6089.0,4115.0,10204.0
11,2601052,Araçoiaba,15108.0,9014.0,9130.0,15261.0,2883.0,18144.0
12,2601102,Araripina,70898.0,37884.0,39479.0,46975.0,30388.0,77363.0
13,2601201,Arcoverde,61600.0,32563.0,36594.0,62899.0,6258.0,69157.0
14,2601300,Barra de Guabiraba,10939.0,6506.0,6259.0,11379.0,1386.0,12765.0
15,2601409,Barreiros,39139.0,19881.0,20839.0,33969.0,6751.0,40720.0
16,2601508,Belém de Maria,10626.0,5637.0,5712.0,7988.0,3361.0,11349.0
17,2601607,Belém do São Francisco,20208.0,9944.0,10292.0,12582.0,7654.0,20236.0
18,2601706,Belo Jardim,68698.0,34765.0,37647.0,58208.0,14204.0,72412.0
19,2601805,Betânia,11305.0,6014.0,5991.0,3709.0,8296.0,12005.0

In [10]:
populacao_pe.tail(20)

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
167,2614857,Tamandaré,17281.0,10425.0,10320.0,15186.0,5559.0,20745.0
168,2615003,Taquaritinga do Norte,19757.0,12348.0,12575.0,17977.0,6946.0,24923.0
169,2615102,Terezinha,6300.0,3271.0,3466.0,2860.0,3877.0,6737.0
170,2615201,Terra Nova,7518.0,4702.0,4554.0,5015.0,4241.0,9256.0
171,2615300,Timbaúba,56906.0,25906.0,27917.0,46371.0,7452.0,53823.0
172,2615409,Toritama,21800.0,17473.0,18158.0,34198.0,1433.0,35631.0
173,2615508,Tracunhaém,12394.0,6363.0,6692.0,10969.0,2086.0,13055.0
174,2615607,Trindade,21930.0,12889.0,13227.0,22463.0,3653.0,26116.0
175,2615706,Triunfo,15135.0,7180.0,7826.0,7944.0,7062.0,15006.0
176,2615805,Tupanatinga,20801.0,12022.0,12232.0,8496.0,15758.0,24254.0
177,2615904,Tuparetama,7766.0,3852.0,4073.0,6351.0,1574.0,7925.0
178,2616001,Venturosa,13462.0,7869.0,8195.0,10351.0,5713.0,16064.0
179,2616100,Verdejante,8846.0,4484.0,4658.0,2692.0,6450.0,9142.0
180,2616183,Vertente do Lério,8536.0,3878.0,4016.0,1813.0,6081.0,7894.0
181,2616209,Vertentes,14957.0,8976.0,9291.0,12978.0,5289.0,18267.0
182,2616308,Vicência,28820.0,15194.0,15537.0,13805.0,16926.0,30731.0
183,2616407,Vitória de Santo Antão,117609.0,62685.0,67855.0,113481.0,17059.0,130540.0
184,2616506,Xexéu,13597.0,6996.0,7096.0,9165.0,4927.0,14092.0
185,Total,Pernambuco,7918344.0,4229897.0,4566135.0,7049868.0,1746164.0,8796032.0
186,"Fonte: IBGE, Resultados do Censo 2010.",NaN,NaN,NaN,NaN,NaN,NaN,NaN